<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Loja de roupa👕</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body  style="background-color: rgb(236, 142, 213);">
    >
    <header><h1><p style="text-align: center;">Multimarcas👕</p></h1></header>
    <main>
       
<main class="menu-principal">
    
   <div style="display: flex; justify-content: space-between; background-color: #d16bcf; padding: 10px;">
    <a href="conta.html" style="color: rgb(26, 4, 61); text-decoration: none;">👕 Criar Conta</a>
    <a href="pedidos.html" style="color: rgb(26, 4, 61); text-decoration: none;">🛍️ Fazer Pedidos</a>
</div>

</main>

  <hr style="border: 6px solid rgb(171, 39, 247); width: 70%;">
    </main>

    <img src="../static/img/blusapreta.jpg" alt="Batom Vermelho" height="310px">
    <!-- <img src="{{ url_for('static', filename='..\img\melu.jpeg') }}" alt="Batom Vermelho"> -->

  
    <img src="../static/img/kk.jpg" alt="Batom Vermelho" height="310px">
    <!-- <img src="{{ url_for('static', filename='..\img\melu.jpeg') }}" alt="Batom Vermelho"> -->

    <img src="../static/img/images.jpg" alt="Batom Vermelho" height="310px">
    <!-- <img src="{{ url_for('static', filename='..\img\melu.jpeg') }}" alt="Batom Vermelho"> -->

    
    <img src="../static/img/o.png" alt="Batom Vermelho" height="310px">
    <!-- <img src="{{ url_for('static', filename='..\img\melu.jpeg') }}" alt="Batom Vermelho"> -->

    
    <img src="../static/img/t.jpg" alt="Batom Vermelho" height="310px">
    <!-- <img src="{{ url_for('static', filename='..\img\melu.jpeg') }}" alt="Batom Vermelho"> -->


    <hr style="border: 2px solid rgb(171, 39, 247); width: 50%;">




    

    
    
    

    


</body>
</html>